@{
    string imgurl = "images/Clebsch_graph.png";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <img class="img-fluid img-thumbnail float-left m-2" src="~/@imgurl" />
        </div>
        <p>
            In <a href="#" title="Combinatorics">combinatorial mathematics</a>, <b>Ramsey's theorem</b>, in one of its <a href="#" title="Graph theory">graph-theoretic</a> forms, states that one will find monochromatic <a href="#" title="Clique (graph theory)">cliques</a> in any <a href="#" title="Graph labeling">edge labelling</a> (with colours) of a sufficiently large <a href="#" title="Complete graph">complete graph</a>. To demonstrate the theorem for two colours (say, blue and red), let <i>r</i> and <i>s</i> be any two positive <a href="#" title="Integer">integers</a>.<sup id="cite_ref-1" class="reference"><a href="#">[1]</a></sup> Ramsey's theorem states that there exists a least positive integer <span class="nowrap"><i>R</i>(<i>r</i>, <i>s</i>)</span> for which every blue-red edge colouring of the <a href="#" title="Complete graph">complete graph</a> on <span class="nowrap"><i>R</i>(<i>r</i>, <i>s</i>)</span> vertices contains a blue clique on <i>r</i> vertices or a red clique on <i>s</i> vertices. (Here <span class="nowrap"><i>R</i>(<i>r</i>, <i>s</i>)</span> signifies an integer that depends on both <i>r</i> and <i>s</i>.)
        </p>
        <p>
            Ramsey's theorem is a foundational result in combinatorics. The first version of this result was proved by <a href="#" class="mw-redirect" title="F. P. Ramsey">F. P. Ramsey</a>. This initiated the combinatorial theory now called <a href="#" title="Ramsey theory">Ramsey theory</a>, that seeks regularity amid disorder: general conditions for the existence of substructures with regular properties. In this application it is a question of the existence of <i>monochromatic subsets</i>, that is, <a href="#" title="Subset">subsets</a> of connected edges of just one colour.
        </p>
        <p>
            An extension of this theorem applies to any finite number of colours, rather than just two. More precisely, the theorem states that for any given number of colours, <i>c</i>, and any given integers <i>n</i><sub>1</sub>, …, <i>n<sub>c</sub></i>, there is a number, <i>R</i>(<i>n</i><sub>1</sub>, …, <i>n<sub>c</sub></i>), such that if the edges of a complete graph of order <i>R</i>(<i>n</i><sub>1</sub>, ..., <i>n</i><sub><i>c</i></sub>) are coloured with <i>c</i> different colours, then for some <i>i</i> between 1 and <i>c</i>, it must contain a complete <a href="#" class="mw-redirect" title="Glossary of graph theory">subgraph</a> of order <i>n</i><sub><i>i</i></sub> whose edges are all colour <i>i</i>. The special case above has <i>c</i> = 2 (and <i>n</i><sub>1</sub> = <i>r</i> and <i>n</i><sub>2</sub> = <i>s</i>).
        </p>
    </div>
</div>