
<p>Font Size = 14px; Line height = 1.428</p>

<hr style="border: 1px solid red" />
<p>
    <u>underlined</u>
    <s>strike through</s>
    <mark>high light</mark>
    <em>emphasize</em>
    <strong>bold</strong>
    sub<sub>script</sub>
    super<sup>script</sup>
</p>

<hr style="border: 1px solid red" />
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">
    The text in this paragraph will be justified.
    Bootstrap is a free, open-source and is the most popular HTML,
    CSS, and JavaScript framework.
</p>
<p class="text-nowrap">
    This text will not wrap and you will get a horizontal scrollbar
    if there is no space on the screen to view.
</p>


<hr style="border: 1px solid red" />
<p class="text-lowercase">
    All The Letters Will Be in Lowercase
</p>
<p class="text-uppercase">
    All The Letters Will Be in Uppercase
</p>
<p class="text-capitalize">
    First letter of every word will be capitalized
</p>

<hr style="border: 1px solid red" />
<p class="lead">
    What is Bootstrap
</p>
<p>
    Bootstrap is a free, open-source and is the most popular HTML,
    CSS, and JavaScript framework
</p>

<hr style="border: 1px solid red" />
<p>Hold the mouse on <abbr title="Armour Piercing Fin Stabilised Discarding sabot Depleted Uranium Shell">APFSDSDUS</abbr></p>