@{
    var imgurl = "images/tulips.jfif";
}

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="~/@imgurl" />
    </div>
    <div class="col-md-3">
        <img class="img-fluid img-thumbnail" src="~/@imgurl" />
    </div>
    <div class="col-md-3">
        <img class="img-fluid rounded-circle" src="~/@imgurl" />
    </div>
    <div class="col-md-3">
        <img class="img-fluid" src="~/@imgurl" />
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="ljf-style">
            Left Side Bar
        </div>
    </div>
    <div class="col-md-4">
        <div class="ljf-style">
            Main Content Area
        </div>
    </div>
    <div class="col-md-4">
        <div class="ljf-style">
            Right Side Bar
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="ljf-style">
            Col 5
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-6">
                <div class="ljf-style">
                    Col 3.5
                </div>
            </div>
            <div class="col-md-6">
                <div class="ljf-style">
                    Col 3.5
                </div>
            </div>
        </div>
    </div>
</div>