@{
    ViewBag.Title = "Utilities Display";
}


<div class="row">
    <div class="col-sm-6 p-2">
        <div class="ljf-style">
            <span class="d-inline d-sm-none">xs</span>
            <span class="d-none d-sm-inline d-md-none">sm</span>
            <span class="d-none d-md-inline d-lg-none">md</span>
            <span class="d-none d-lg-inline d-xl-none">lg</span>
            <span class="d-none d-xl-inline">xl</span>
        </div>
    </div>
    <div class="col-sm-6 p-2">
        <div class="ljf-style">
            <span class="d-none d-print-inline">print</span>
            <span class="d-inline d-print-none">screen</span>
        </div>
    </div>
</div>